
body {
    background-color: burlywood;
    font-family: Simula;

}

p {
    font-family: Simula;
    font-size: 10px;
    color: lightslategray;
    background-color: orange;
    text-align: right;


    }


h1 {
    font-family: Simula;
    color: black;
    font-size: 50px;
    margin-bottom: 10px;
text-align: center;
    }
}



}